@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Libre+Baskerville:400,700|Rakkas');
$color1: rgb(123, 27, 19);
$color2: rgb(207, 69, 66);
$color3: rgb(242, 237, 205);
$color4: rgb(237, 192, 127);
$color5: rgb(190, 118, 66);
$color6: rgb(51, 85, 51);
$color7: #5B9D5B;

$fontset1:'Libre Baskerville',
serif;
$fontset2:'Lato',
sans-serif;
$fontset3:'Rakkas',
cursive;

$breekpunt:576px;
$breekpunt2:768px;
$breekpunt3:992px;
$breekpunt4:1200px;


/*body*/
* {
    box-sizing: border-box;
    font-family: $fontset2;
}

.container {
    margin-top: 10%;
}

h1 {
    font-family: $fontset1;
    font-size: 30px;
    color: $color6;
    text-transform: uppercase;

    @media (min-width: $breekpunt2) {
        font-size: 40px;
    }

    @media (min-width: $breekpunt3) {
        font-size: 50px;
    }
    @media (min-width: $breekpunt4) {
        font-size: 60px;
    }
}

h2 {
    font-family: $fontset1;
    color: $color2;
    font-size: 20px;

    @media (min-width: $breekpunt2) {
        font-size: 30px;
    }

    @media (min-width: $breekpunt3) {
        font-size: 35px;
    }
    @media (min-width: $breekpunt4) {
        font-size: 40px;
    }
}

h3 {
    font-family: $fontset1;
    text-transform: uppercase;
    color: $color6;
    font-size: 25px;


    @media (min-width: $breekpunt2) {
        font-size: 30px;
    }

    @media (min-width: $breekpunt3) {
        font-size: 40px;
    }
    @media (min-width: $breekpunt4) {
        font-size: 50px;
    }
}

h4 {
    font-family: $fontset1;
    text-transform: uppercase;
    color: $color6;
    text-align: center;
    font-size:20px;
    @media (min-width: $breekpunt2) {
        font-size: 25px;
    }
    @media (min-width: $breekpunt3) {
        font-size: 30px;
    }
    @media (min-width: $breekpunt4) {
        font-size: 40px;
    }
}

h5 {
    color: $color2;
    font-family: $fontset1;
    font-size: 30px;
    
}

p {
    font-family: $fontset2;
    color: $color2;
    font-size: 16px;
    line-height: 22px;

    @media (min-width: $breekpunt2) {
        font-size: 17px;
    }
}

a {
    color: $color6;
    font-size: 16px;
    @media (min-width: $breekpunt2) {
        font-size: 17px;
    }
}

a:hover {
    color: $color1;
    text-decoration: none;
}

/*navbar*/
.navbar {
    background-color: $color3 !important;

    .navbar-brand {
        color: $color1;
        padding: 1%;
        font-family: $fontset3;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .navbar-brand:hover {
        color: $color6;
    }

    .navbar-nav {
        font-size: 20px;
        text-transform: uppercase;
    }

    .nav-link {
        color: $color1 !important;
    }

    .specialleke {
        color: $color6 !important;
        font-weight: 600;
    }
}


/*home*/
.homehead {
    .santa {
        height: 40%;
    }

    .pages {
        margin-top: 10%;

    }

    #right {
        text-align: right;
    }

    .hvrbox {
        position: relative;
        display: inline-block;
        overflow: hidden;
        max-width: 100%;
        height: auto;
        margin-bottom:50px;
        
    }

    .hvrbox,
    .hvrbox * {
        box-sizing: border-box;
    }

  
    .hvrbox img {
        width: 100%;
    }

    .hvrbox .hvrbox-layer_bottom {
        display: block;
    }

    .hvrbox .hvrbox-layer_top {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(123, 27, 19, 0.7);
        padding: 15px;
        -moz-transition: all 0.4s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }

    .hvrbox:hover .hvrbox-layer_top,
    .hvrbox.active .hvrbox-layer_top {
        opacity: 1;
    }

    .hvrbox .hvrbox-text {
        text-transform: uppercase;
        color: $color3;
        font-family: $fontset2;
        font-weight: 700;
        text-align: center;
        font-size: 25px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    }

    .hvrbox .hvrbox-text_mobile {
        font-size: 15px;
        border-top: 1px solid rgb(179, 179, 179);
        /* for old browsers */
        border-top: 1px solid rgba(179, 179, 179, 0.7);
        margin-top: 5px;
        padding-top: 2px;
        display: none;
    }

    .hvrbox.active .hvrbox-text_mobile {
        display: block;
    }
}

/*about*/
.btn-doneer {
    background-color: $color1;
    color: $color3;
    border-radius: 20px;
    width: 200px;
    margin: 5% 0% 10% 0%;

    cursor: pointer;
    transition: all 0.5s;
    text-transform: uppercase;
}

.btn-doneer:hover {
    color: $color1;
    background-color: $color7;
    font-weight: 700;
}


/*donate*/
.big-banner {
    background-image: url("../images/doneer/achtergond.png");
    background-size: cover;
    height: 700px;
    padding-top: 20%;

    .white {
        color: $color3;
    }

    @media (max-width: $breekpunt) {
        padding-top: 60%;
        height: 100%;
    }

    @media (min-width: 1000px) {
        height: 200%;
    }
}

.pad {
    padding-bottom: 50px;
}

.donor {
    text-align: center;
}

.blok {
    background-color: $color7;
    border-radius: 25px;
    padding: 25px 0px 0px 25px;
    margin-bottom: 10px;
    height: 120px;

    .euro {
        color: white;
        font-size: 30px;
    }

    .ano {
        color: $color3;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 17px;
    }
}

.money {
    text-align: center;
    color: $color6;
    margin-top: 10%;
    font-size: 20px;
}

.form-control {
    border-radius: 25px !important;
    background-color: $color3;
    border: none;
    margin: 2% 0%;
    color: $color2;
}

.pd {
    padding-bottom: 5%;
}

/*testimony*/
.bal {
    height: auto;
}

#center {
    text-align: center;
}

.green {
    color: $color6;
}

.back {
    background-color: $color6;
    padding: 5% 10%;
    

    .bleek {
        color: $color3;
        padding-top: 20%;
    }

    .white {
        color: $color3;
    }


}

.btn-contact {
    background-color: $color1;
    color: $color3;
    border-radius: 20px;
    width: 100%;
    margin: 1% 0;

    cursor: pointer;
    transition: all 0.5s;
    text-transform: uppercase;
}

.btn-contact:hover {
    color: $color3;
    background-color: $color7;
    font-weight: 700;
}

/*contact*/

.cont {
    color: $color3;
    text-align: center;

    @media only screen and (max-width: 900px) {
        font-size: 20px !important;

    }
}

.fb {
    display: inline-block;
}

.center {
    text-align: center;
    width: 100%;
}

input[type=text],
select,
textarea {
    background-color: $color3;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 28px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 28px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: $color1;
    color: $color3;
}

input[type=submit]:hover {
    background-color: $color3;
    color: $color6;
}

.top {
    margin-top: 5%;
}

.try {
    text-align: center;
}


.foeter {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    bottom: 0px;
    background-color: $color1;
    margin-top: 10%;

    .linkerkant {
        line-height: 60px;
    }

    .rechterkant i {
        margin-left: 10px;
        font-size: 1.5em;
        line-height: 60px;
    }

    img {
        height: 19pt;

        @media(min-width: $breekpunt2) {
            height: 29pt;
        }
    }

    h6 {
        color: $color3;
        text-align: right;
        font-size: 9px;
        line-height: 50pt;

        @media (min-width: $breekpunt3) {
            font-size: 12px;
        }
    }



}

.container-fluid {
    padding: 0;
}

.nopad {
    margin: 0px;
}

input::placeholder {
    color: $color2 !important;
}